<h1>Welcome</h1>
<p id="subheading" style="margin-bottom:40px;font-size:25px">Planning a long trip?</p>


<form action="results.json">

  <div class="container" style="height:auto">
    <div class="container" id="left">
      <p>Enter Start Location (City, State)</p>
      <p><input type="text" name="start"></input></p>
    </div>
    <div class="container" id="right">
      <p>Enter Your Destination (City, State)</p>
      <p><input type="text" name="stop"></input></p>
    </div>
  </div>

  <div class="container" style="height:auto">
    <div class="container" id="left">
      <p>Enter Your MPG</p>
      <p><input type="text" name="mpg"></input></p>
    </div>
    <div class="container" id="right">
      <p style="display:inline-block;font-size:length">Enter Your Fuel Type</p>
      <!-- <p><input type="text" name="fuel_type"></input></p> -->
      <p>
        <select name="fuel_type" style="width:236px;height:30px;">
          <option value="">
          <%  @fuel_types.each do |fuel_type| %>
            <option value="<%= fuel_type %>"><%= fuel_type.capitalize %></option>
          <% end %>
        </select>
      </p>
    </div>
  </div>

  <div class="container" style="height:auto">
    <div class="container" id="left">
      <p>Enter Origin Airport Code</p>
      <p><input type="text" name="start_code"></input></p>
    </div>
    <div class="container" id="right">
      <p style="display:inline-block;font-size:length">Enter Destination Airport Code</p>
      <p><input type="text" name="end_code"></input></p>
    </div>
  </div>

  <div class="container" style="height:auto">
    <div class="container" id="center">
      <p>Enter Date of Travel (YYYY-MM-DD)</p>
      <p><input type="text" name="date"></input></p>
      <!-- <p><%= date_select :date_1, nil, {:start_year => Date.current.year, :end_year => Date.current.year + 2} %></p>
      <p>Date: <input type="text" id="datepicker"></p>
      <script>
        $(function() {
          $("#datepicker").datepicker();
        });
      </script> -->
    </div>
  </div>

  <input type="submit" value="Submit" class="btn btn-default btn-lg" style="width:200px">

</form>
