<h1>Welcome</h1>
<p>This is the home page.</p>

<form action="summary/show.json">

  <div class="container" style="height:auto">
    <div class="container" id="left">
      <p>Enter Start Location (City, State)</p>
      <p><input type="text" name="start"></input></p>
    </div>
    <div class="container" id="right">
      <p>Enter Your Destination (City, State)</p>
      <p><input type="text" name="stop"></input></p>
    </div>
  </div>

  <div class="container" style="height:auto">
    <div class="container" id="left">
      <p>Enter Your MPG</p>
      <p><input type="text" name="mpg"></input></p>
    </div>
    <div class="container" id="right">
      <p style="display:inline-block;font-size:length">Enter Your Fuel Type</p>
      <p><input type="text" name="fuel_type"></input></p>
    </div>
  </div>

  <input type="submit" value="Submit" class="btn btn-default btn-lg">

</form>
