<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation" style="min-height:0px">
	<ul class="nav navbar-nav" style="width:100%;float:center;text-align:center;">
		<li style="font-size:10px;float:center;display:inline-block;">
			<a href='/about' style="padding:0px;line-height:0px">
				About Meals on Wheels
			</a>
		</li>
	</ul>
</nav>
